extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button Edit
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            .video__uploader
                |Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 1
                .video__comment-number
                    span#jsCommentNumber 1 
                    span.comment-number-text comment
            else
                .video__comment-number
                    span#jsCommentNumber=video.comments.length  
                    span.comment-number-text comments
            .video__write-comment
                img.user-avatar(src=`${loggedUser.avatarUrl}`)
                form.add__comment#jsAddComment
                    if loggedUser
                        input(type="text", placeholder="Add a comment")
                    else
                        input(type="text", placeholder="You need to log in", disabled)
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li.comments
                        .comments__left-column
                            a(href=routes.userDetail(`${comment.creator.id}`))
                                img(src=`${comment.creator.avatarUrl}`).comments__userAvatar#jsUserAvatar
                        .comments__right-column
                            span.comments__userName=String(comment.creator.name)
                            .comments__text-box
                                span#jsComment=comment.text 
                                if loggedUser && (String(comment.creator.id) === loggedUser.id)
                                    .comments__icon
                                        button.jsDelBtn(value=comment.id)
                            